

 ul {
   align: right;
   position: relative;
   display: flex;
   transform: rotate(0deg) skew(0deg);
   transform-style: preserve-3d;
   padding-bottom: 15%;
   
}
ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0px 19px;
}
ul li:before{
  content: '';
  position: absolute;

  width: 100%;
  height: 10px;
  background: transparent;
  trnasform-origin: top;
  transform: skewX(-41deg);
}
ul li:after{
  content: '';
  position: absolute;
  top:5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: transparent;
  trnasform-origin: right;
  transform: skewY(-49deg);
}
ul li span{
  border-radius: 18px;
  transform: rotate(360deg) skew(0deg);
  position: absolute;
  top: 0;
  lef: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: transparent;
  justify-content: center;
  align-items: center;
  color: #b8a07e;
  font-size: 30px !important;
  transition: 0s ease-out;
}
ul li:hover span {
  
  transform: rotate(-360deg);
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadw: -1px 1px 1px rgba(0, 0, 0, .5);
}
ul li:nth-child(1):hover span{
  background: #4d9fde !important;
}
ul li:nth-child(2):hover span{
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00); !important;
}

ul li:nth-child(3):hover span{
  background: #595959 !important;
}
ul li:nth-child(4):hover span{
  color: black;
  background: #fff !important;
}
